//! **************************************************************************
// Written by: Map P.49d on Wed Dec 04 20:19:35 2013
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_b<0>" LOCATE = SITE "D5" LEVEL 1;
COMP "VGA_b<1>" LOCATE = SITE "A6" LEVEL 1;
COMP "VGA_b<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "VGA_g<0>" LOCATE = SITE "B4" LEVEL 1;
COMP "VGA_g<1>" LOCATE = SITE "C4" LEVEL 1;
COMP "VGA_g<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "VGA_r<0>" LOCATE = SITE "A7" LEVEL 1;
COMP "VGA_r<1>" LOCATE = SITE "C3" LEVEL 1;
COMP "VGA_r<2>" LOCATE = SITE "A4" LEVEL 1;
COMP "dataReady" LOCATE = SITE "A16" LEVEL 1;
COMP "memoryAddress<0>" LOCATE = SITE "N14" LEVEL 1;
COMP "memoryAddress<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "memoryAddress<2>" LOCATE = SITE "N18" LEVEL 1;
COMP "memoryAddress<3>" LOCATE = SITE "P16" LEVEL 1;
COMP "memoryAddress<4>" LOCATE = SITE "P17" LEVEL 1;
COMP "LED_OUTPUT<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "memoryAddress<5>" LOCATE = SITE "P18" LEVEL 1;
COMP "LED_OUTPUT<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "memoryAddress<6>" LOCATE = SITE "R15" LEVEL 1;
COMP "LED_OUTPUT<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "memoryAddress<7>" LOCATE = SITE "R16" LEVEL 1;
COMP "LED_OUTPUT<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "memoryAddress<8>" LOCATE = SITE "R18" LEVEL 1;
COMP "LED_OUTPUT<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "memoryAddress<9>" LOCATE = SITE "T17" LEVEL 1;
COMP "LED_OUTPUT<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "LED_OUTPUT<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "LED_OUTPUT<7>" LOCATE = SITE "F11" LEVEL 1;
COMP "LED_OUTPUT<8>" LOCATE = SITE "A12" LEVEL 1;
COMP "LED_OUTPUT<9>" LOCATE = SITE "E12" LEVEL 1;
COMP "serialTBRE" LOCATE = SITE "D14" LEVEL 1;
COMP "serialTSRE" LOCATE = SITE "N9" LEVEL 1;
COMP "basicDatabus<0>" LOCATE = SITE "J12" LEVEL 1;
COMP "basicDatabus<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "basicDatabus<2>" LOCATE = SITE "J14" LEVEL 1;
COMP "basicDatabus<3>" LOCATE = SITE "J15" LEVEL 1;
COMP "basicDatabus<4>" LOCATE = SITE "J16" LEVEL 1;
COMP "basicDatabus<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "basicDatabus<6>" LOCATE = SITE "K12" LEVEL 1;
COMP "basicDatabus<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "led1<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "led1<1>" LOCATE = SITE "D9" LEVEL 1;
COMP "led1<2>" LOCATE = SITE "E9" LEVEL 1;
COMP "led1<3>" LOCATE = SITE "F9" LEVEL 1;
COMP "led2<0>" LOCATE = SITE "C7" LEVEL 1;
COMP "led1<4>" LOCATE = SITE "G9" LEVEL 1;
COMP "led2<1>" LOCATE = SITE "D7" LEVEL 1;
COMP "led1<5>" LOCATE = SITE "A10" LEVEL 1;
COMP "led2<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "led1<6>" LOCATE = SITE "B10" LEVEL 1;
COMP "led2<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "led2<4>" LOCATE = SITE "A8" LEVEL 1;
COMP "led2<5>" LOCATE = SITE "E8" LEVEL 1;
COMP "led2<6>" LOCATE = SITE "F8" LEVEL 1;
COMP "keyboard_data" LOCATE = SITE "V6" LEVEL 1;
COMP "reset" LOCATE = SITE "U10" LEVEL 1;
COMP "memoryDatabus<0>" LOCATE = SITE "U13" LEVEL 1;
COMP "memoryDatabus<1>" LOCATE = SITE "T16" LEVEL 1;
COMP "memoryDatabus<2>" LOCATE = SITE "T15" LEVEL 1;
COMP "memoryDatabus<3>" LOCATE = SITE "T14" LEVEL 1;
COMP "memoryDatabus<4>" LOCATE = SITE "T12" LEVEL 1;
COMP "memoryDatabus<5>" LOCATE = SITE "R13" LEVEL 1;
COMP "memoryDatabus<6>" LOCATE = SITE "R14" LEVEL 1;
COMP "memoryDatabus<7>" LOCATE = SITE "R12" LEVEL 1;
COMP "memoryDatabus<8>" LOCATE = SITE "R11" LEVEL 1;
COMP "memoryDatabus<9>" LOCATE = SITE "R10" LEVEL 1;
COMP "InputClock" LOCATE = SITE "U9" LEVEL 1;
COMP "memoryAddress<10>" LOCATE = SITE "T18" LEVEL 1;
COMP "memoryAddress<11>" LOCATE = SITE "U18" LEVEL 1;
COMP "memoryAddress<12>" LOCATE = SITE "V15" LEVEL 1;
COMP "memoryAddress<13>" LOCATE = SITE "V13" LEVEL 1;
COMP "memoryAddress<14>" LOCATE = SITE "V12" LEVEL 1;
COMP "memoryAddress<15>" LOCATE = SITE "V9" LEVEL 1;
COMP "memoryAddress<16>" LOCATE = SITE "U16" LEVEL 1;
COMP "memoryAddress<17>" LOCATE = SITE "U15" LEVEL 1;
COMP "LED_OUTPUT<10>" LOCATE = SITE "F12" LEVEL 1;
COMP "LED_OUTPUT<11>" LOCATE = SITE "A13" LEVEL 1;
COMP "LED_OUTPUT<12>" LOCATE = SITE "B13" LEVEL 1;
COMP "LED_OUTPUT<13>" LOCATE = SITE "D13" LEVEL 1;
COMP "LED_OUTPUT<14>" LOCATE = SITE "E13" LEVEL 1;
COMP "LED_OUTPUT<15>" LOCATE = SITE "A14" LEVEL 1;
COMP "VGA_hs" LOCATE = SITE "D6" LEVEL 1;
COMP "VGA_vs" LOCATE = SITE "E6" LEVEL 1;
COMP "flash_addr<10>" LOCATE = SITE "M6" LEVEL 1;
COMP "flash_addr<11>" LOCATE = SITE "M5" LEVEL 1;
COMP "flash_addr<20>" LOCATE = SITE "K6" LEVEL 1;
COMP "flash_addr<12>" LOCATE = SITE "M4" LEVEL 1;
COMP "flash_addr<21>" LOCATE = SITE "K5" LEVEL 1;
COMP "flash_addr<13>" LOCATE = SITE "M3" LEVEL 1;
COMP "flash_addr<22>" LOCATE = SITE "K4" LEVEL 1;
COMP "flash_addr<14>" LOCATE = SITE "L6" LEVEL 1;
COMP "flash_addr<15>" LOCATE = SITE "L5" LEVEL 1;
COMP "flash_addr<16>" LOCATE = SITE "L4" LEVEL 1;
COMP "flash_addr<17>" LOCATE = SITE "L3" LEVEL 1;
COMP "flash_addr<18>" LOCATE = SITE "L2" LEVEL 1;
COMP "flash_addr<19>" LOCATE = SITE "L1" LEVEL 1;
COMP "flash_data<10>" LOCATE = SITE "G6" LEVEL 1;
COMP "flash_data<11>" LOCATE = SITE "G5" LEVEL 1;
COMP "flash_data<12>" LOCATE = SITE "G4" LEVEL 1;
COMP "flash_data<13>" LOCATE = SITE "G3" LEVEL 1;
COMP "flash_data<14>" LOCATE = SITE "F2" LEVEL 1;
COMP "flash_data<15>" LOCATE = SITE "F1" LEVEL 1;
COMP "serialRDN" LOCATE = SITE "C14" LEVEL 1;
COMP "serialWRN" LOCATE = SITE "U5" LEVEL 1;
COMP "flash_byte" LOCATE = SITE "C1" LEVEL 1;
COMP "flash_vpen" LOCATE = SITE "C2" LEVEL 1;
COMP "CLOCK_11M" LOCATE = SITE "B8" LEVEL 1;
COMP "CLOCK_50M" LOCATE = SITE "B9" LEVEL 1;
COMP "flash_ce" LOCATE = SITE "E4" LEVEL 1;
COMP "flash_oe" LOCATE = SITE "E1" LEVEL 1;
COMP "flash_we" LOCATE = SITE "D4" LEVEL 1;
COMP "flash_rp" LOCATE = SITE "D1" LEVEL 1;
COMP "ram1EN" LOCATE = SITE "M15" LEVEL 1;
COMP "memoryDatabus<10>" LOCATE = SITE "P13" LEVEL 1;
COMP "memoryDatabus<11>" LOCATE = SITE "P12" LEVEL 1;
COMP "memoryDatabus<12>" LOCATE = SITE "P11" LEVEL 1;
COMP "memoryDatabus<13>" LOCATE = SITE "P10" LEVEL 1;
COMP "memoryDatabus<14>" LOCATE = SITE "N12" LEVEL 1;
COMP "memoryDatabus<15>" LOCATE = SITE "N11" LEVEL 1;
COMP "memoryEN" LOCATE = SITE "N10" LEVEL 1;
COMP "memoryOE" LOCATE = SITE "R9" LEVEL 1;
COMP "memoryRW" LOCATE = SITE "M9" LEVEL 1;
COMP "flash_addr<1>" LOCATE = SITE "T1" LEVEL 1;
COMP "flash_addr<2>" LOCATE = SITE "R3" LEVEL 1;
COMP "flash_addr<3>" LOCATE = SITE "R2" LEVEL 1;
COMP "flash_addr<4>" LOCATE = SITE "P4" LEVEL 1;
COMP "flash_addr<5>" LOCATE = SITE "P3" LEVEL 1;
COMP "flash_addr<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "flash_addr<7>" LOCATE = SITE "P1" LEVEL 1;
COMP "flash_addr<8>" LOCATE = SITE "N5" LEVEL 1;
COMP "flash_addr<9>" LOCATE = SITE "N4" LEVEL 1;
COMP "flash_data<0>" LOCATE = SITE "J5" LEVEL 1;
COMP "flash_data<1>" LOCATE = SITE "J4" LEVEL 1;
COMP "flash_data<2>" LOCATE = SITE "J2" LEVEL 1;
COMP "flash_data<3>" LOCATE = SITE "J1" LEVEL 1;
COMP "flash_data<4>" LOCATE = SITE "H6" LEVEL 1;
COMP "flash_data<5>" LOCATE = SITE "H5" LEVEL 1;
COMP "flash_data<6>" LOCATE = SITE "H4" LEVEL 1;
COMP "flash_data<7>" LOCATE = SITE "H3" LEVEL 1;
COMP "flash_data<8>" LOCATE = SITE "H2" LEVEL 1;
COMP "flash_data<9>" LOCATE = SITE "H1" LEVEL 1;
COMP "keyboard_in" LOCATE = SITE "U6" LEVEL 1;
COMP "KEY16_INPUT<10>" LOCATE = SITE "N1" LEVEL 1;
COMP "KEY16_INPUT<11>" LOCATE = SITE "M1" LEVEL 1;
COMP "KEY16_INPUT<12>" LOCATE = SITE "K7" LEVEL 1;
COMP "KEY16_INPUT<13>" LOCATE = SITE "K2" LEVEL 1;
COMP "KEY16_INPUT<14>" LOCATE = SITE "J7" LEVEL 1;
COMP "KEY16_INPUT<15>" LOCATE = SITE "J6" LEVEL 1;
COMP "KEY16_INPUT<0>" LOCATE = SITE "T7" LEVEL 1;
COMP "KEY16_INPUT<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "KEY16_INPUT<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "KEY16_INPUT<3>" LOCATE = SITE "V4" LEVEL 1;
COMP "KEY16_INPUT<4>" LOCATE = SITE "V3" LEVEL 1;
COMP "KEY16_INPUT<5>" LOCATE = SITE "V2" LEVEL 1;
COMP "KEY16_INPUT<6>" LOCATE = SITE "U1" LEVEL 1;
COMP "KEY16_INPUT<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "KEY16_INPUT<8>" LOCATE = SITE "R1" LEVEL 1;
COMP "KEY16_INPUT<9>" LOCATE = SITE "N2" LEVEL 1;
NET "CLOCK_50M_BUFGP/IBUFG" BEL "CLOCK_50M_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

