NET "memoryAddress[0]" LOC = N14;
NET "memoryAddress[1]" LOC = N15;
NET "memoryAddress[2]" LOC = N18;
NET "memoryAddress[3]" LOC = P16;
NET "memoryAddress[4]" LOC = P17;
NET "memoryAddress[5]" LOC = P18;
NET "memoryAddress[6]" LOC = R15;
NET "memoryAddress[7]" LOC = R16;
NET "memoryAddress[8]" LOC = R18;
NET "memoryAddress[9]" LOC = T17;
NET "memoryAddress[10]" LOC = T18;
NET "memoryAddress[11]" LOC = U18;
NET "memoryAddress[12]" LOC = V15;
NET "memoryAddress[13]" LOC = V13;
NET "memoryAddress[14]" LOC = V12;
NET "memoryAddress[15]" LOC = V9;
NET "memoryAddress[16]" LOC = U16;
NET "memoryAddress[17]" LOC = U15;
NET "extendDatabus[0]" LOC = U13;
NET "extendDatabus[1]" LOC = T16;
NET "extendDatabus[2]" LOC = T15;
NET "extendDatabus[3]" LOC = T14;
NET "extendDatabus[4]" LOC = T12;
NET "extendDatabus[5]" LOC = R13;
NET "extendDatabus[6]" LOC = R14;
NET "extendDatabus[7]" LOC = R12;
NET "extendDatabus[8]" LOC = R11;
NET "extendDatabus[9]" LOC = R10;
NET "extendDatabus[10]" LOC = P13;
NET "extendDatabus[11]" LOC = P12;
NET "extendDatabus[12]" LOC = P11;
NET "extendDatabus[13]" LOC = P10;
NET "extendDatabus[14]" LOC = N12;
NET "extendDatabus[15]" LOC = N11;
NET "memoryEN" LOC = N10;
NET "memoryOE" LOC = R9;
NET "memoryRW" LOC = M9;

NET "basicDatabus[0]" LOC = J12;
NET "basicDatabus[1]" LOC = J13;
NET "basicDatabus[2]" LOC = J14;
NET "basicDatabus[3]" LOC = J15;
NET "basicDatabus[4]" LOC = J16;
NET "basicDatabus[5]" LOC = J17;
NET "basicDatabus[6]" LOC = K12;
NET "basicDatabus[7]" LOC = K13;
NET "serialWRN" LOC = U5;
NET "serialRDN" LOC = C14;
NET "ram1EN" LOC = M15;
NET "serialTSRE" LOC = N9;
NET "serialTBRE" LOC = D14;

NET "reset" LOC = U10;

NET "clock" LOC = B8;


NET "flash_byte" LOC = C1;
NET "flash_vpen" LOC = C2;
NET "flash_ce" LOC = E4;
NET "flash_oe" LOC = E1;
NET "flash_we" LOC = D4;
NET "flash_rp" LOC = D1;
#NET "flash_sts" LOC = D2;

#NET "flash_addr[0]" LOC = T2;
NET "flash_addr[1]" LOC = T1;
NET "flash_addr[2]" LOC = R3;
NET "flash_addr[3]" LOC = R2;
NET "flash_addr[4]" LOC = P4;
NET "flash_addr[5]" LOC = P3;
NET "flash_addr[6]" LOC = P2;
NET "flash_addr[7]" LOC = P1;
NET "flash_addr[8]" LOC = N5;
NET "flash_addr[9]" LOC = N4;
NET "flash_addr[10]" LOC = M6;
NET "flash_addr[11]" LOC = M5;
NET "flash_addr[12]" LOC = M4;
NET "flash_addr[13]" LOC = M3;
NET "flash_addr[14]" LOC = L6;
NET "flash_addr[15]" LOC = L5;
NET "flash_addr[16]" LOC = L4;
NET "flash_addr[17]" LOC = L3;
NET "flash_addr[18]" LOC = L2;
NET "flash_addr[19]" LOC = L1;
NET "flash_addr[20]" LOC = K6;
NET "flash_addr[21]" LOC = K5;
NET "flash_addr[22]" LOC = K4;

NET "flash_data[0]" LOC = J5;
NET "flash_data[1]" LOC = J4;
NET "flash_data[2]" LOC = J2;
NET "flash_data[3]" LOC = J1;
NET "flash_data[4]" LOC = H6;
NET "flash_data[5]" LOC = H5;
NET "flash_data[6]" LOC = H4;
NET "flash_data[7]" LOC = H3;

NET "flash_data[8]" LOC = H2;
NET "flash_data[9]" LOC = H1;
NET "flash_data[10]" LOC = G6;
NET "flash_data[11]" LOC = G5;
NET "flash_data[12]" LOC = G4;
NET "flash_data[13]" LOC = G3;
NET "flash_data[14]" LOC = F2;
NET "flash_data[15]" LOC = F1;
