

NET "address[0]" LOC = C17;
NET "address[1]" LOC = C18;
NET "address[2]" LOC = D16;
NET "address[3]" LOC = D17;
NET "address[4]" LOC = E15;
NET "address[5]" LOC = E16;
NET "address[6]" LOC = F14;
NET "address[7]" LOC = F15;
NET "address[8]" LOC = F17;
NET "address[9]" LOC = F18;
NET "address[10]" LOC = G13;
NET "address[11]" LOC = G14;
NET "address[12]" LOC = G15;
NET "address[13]" LOC = G16;
NET "address[14]" LOC = H14;
NET "address[15]" LOC = H15;
NET "address[16]" LOC = H16;
NET "address[17]" LOC = H17;
NET "data[0]" LOC = J12;
NET "data[1]" LOC = J13;
NET "data[2]" LOC = J14;
NET "data[3]" LOC = J15;
NET "data[4]" LOC = J16;
NET "data[5]" LOC = J17;
NET "data[6]" LOC = K12;
NET "data[7]" LOC = K13;
NET "data[8]" LOC = K14;
NET "data[9]" LOC = K15;
NET "data[10]" LOC = L15;
NET "data[11]" LOC = L16;
NET "data[12]" LOC = L17;
NET "data[13]" LOC = L18;
NET "data[14]" LOC = M13;
NET "data[15]" LOC = M14;

NET "address2[0]" LOC = N14;
NET "address2[1]" LOC = N15;
NET "address2[2]" LOC = N18;
NET "address2[3]" LOC = P16;
NET "address2[4]" LOC = P17;
NET "address2[5]" LOC = P18;
NET "address2[6]" LOC = R15;
NET "address2[7]" LOC = R16;
NET "address2[8]" LOC = R18;
NET "address2[9]" LOC = T17;
NET "address2[10]" LOC = T18;
NET "address2[11]" LOC = U18;
NET "address2[12]" LOC = V15;
NET "address2[13]" LOC = V13;
NET "address2[14]" LOC = V12;
NET "address2[15]" LOC = V9;
NET "address2[16]" LOC = U16;
NET "address2[17]" LOC = U15;
NET "data2[0]" LOC = U13;
NET "data2[1]" LOC = T16;
NET "data2[2]" LOC = T15;
NET "data2[3]" LOC = T14;
NET "data2[4]" LOC = T12;
NET "data2[5]" LOC = R13;
NET "data2[6]" LOC = R14;
NET "data2[7]" LOC = R12;
NET "data2[8]" LOC = R11;
NET "data2[9]" LOC = R10;
NET "data2[10]" LOC = P13;
NET "data2[11]" LOC = P12;
NET "data2[12]" LOC = P11;
NET "data2[13]" LOC = P10;
NET "data2[14]" LOC = N12;
NET "data2[15]" LOC = N11;

NET "seg[0]" LOC = C9;
NET "seg[1]" LOC = D9;
NET "seg[2]" LOC = E9;
NET "seg[3]" LOC = F9;
NET "seg[4]" LOC = G9;
NET "seg[5]" LOC = A10;
NET "seg[6]" LOC = B10;

NET "en" LOC = M15;
NET "oe" LOC = M16;
NET "rw" LOC = M18;

NET "en2" LOC = N10;
NET "oe2" LOC = R9;
NET "rw2" LOC = M9;


NET "clk" LOC = U9;
NET "rst" LOC = U10;
NET "auto_clk" LOC = B8;

NET "input[15]" LOC = J6;
NET "input[0]" LOC = T7;
NET "input[1]" LOC = R7;
NET "input[2]" LOC = U8;
NET "input[3]" LOC = V4;
NET "input[4]" LOC = V3;
NET "input[5]" LOC = V2;
NET "input[6]" LOC = U1;
NET "input[7]" LOC = R4;
NET "input[8]" LOC = R1;
NET "input[9]" LOC = N2;
NET "input[10]" LOC = N1;
NET "input[11]" LOC = M1;
NET "input[12]" LOC = K7;
NET "input[13]" LOC = K2;
NET "input[14]" LOC = J7;
NET "LED_OUTPUT[0]" LOC = D10;
NET "LED_OUTPUT[1]" LOC = E10;
NET "LED_OUTPUT[2]" LOC = A11;
NET "LED_OUTPUT[3]" LOC = B11;
NET "LED_OUTPUT[4]" LOC = C11;
NET "LED_OUTPUT[5]" LOC = D11;
NET "LED_OUTPUT[6]" LOC = E11;
NET "LED_OUTPUT[7]" LOC = F11;
NET "LED_OUTPUT[8]" LOC = A12;
NET "LED_OUTPUT[9]" LOC = E12;
NET "LED_OUTPUT[10]" LOC = F12;
NET "LED_OUTPUT[11]" LOC = A13;
NET "LED_OUTPUT[12]" LOC = B13;
NET "LED_OUTPUT[13]" LOC = D13;
NET "LED_OUTPUT[14]" LOC = E13;
NET "LED_OUTPUT[15]" LOC = A14;
NET "u5" LOC = U5;
NET "c14" LOC =C14;
# PlanAhead Generated physical constraints 
